.header-container {
  background-color: rgb(214, 214, 214);
  opacity: 0.8;
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid white; */
}
.logo > img {
  width: 8.5rem;
  height: 4rem;
  object-fit: contain;
  margin: 0.2rem;
}
.nav-container {
  /* border: 2px solid red; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: rgb(24, 21, 21);
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}
.nav-container > div:hover {
  font-weight: bolder;
  font-size: x-large;
}
