.gallery-container {
  text-align: center;
  padding: 2rem;
}
.gallery-container > h1 {
  color: darkgray;
  margin: 2rem;
}
.gallery-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  overflow-y: hidden;
  overflow-x: scroll;
}
.gallery-wrapper > img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  margin: 0.4rem;
  border-radius: 0.4rem;
}
